# Web3Forms Configuration
# Sign up at https://web3forms.com/ to get an access key.
# Copy this file to '.env' and fill in your access key if you wish to override the default:

REACT_APP_WEB3FORMS_ACCESS_KEY=02609e7d-076c-45ad-bc57-907f4d74758f
